
.qtr_container {
    border: 1px solid #999;    
}

.day_blocks {
    border: 1px solid #999;
    padding: 2px;
}

div.aleave {
    background-color: #FF9900;
    color: #FFF;
}

div.employee-name {
    background-color: #464f58;
    color: #FFF;
    min-width: 150px;
    max-width: 150px;
    padding: 2px;
}

div.sleave {
    background-color: #FF0000;
    color: #FFF;
}

div.quarter-heading {
    border: 1px solid #999;
}

.headingStyle {
    border: 1px solid #999;
    padding: 2px;
}
